@font-face {
   font-family: 'Augillion DEMO';
   font-display: swap;
   src: url('file:///C:/Users/Asus/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-05-18_151701/fonts/Augillion%20DEMO/font.ttf');
}
